body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: black;
  color: white;
}
h1{
   background-color: black; color : white;
   margin: -13px;
   border: 10px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

nav{
  background-color: lightgray; color : darkgray;
  margin: -8px; 
  padding: 15px;
}
a {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-weight: bold;
}

h3{
  text-align: center;
}
form{
  text-align: center;
}
h4{
  border-radius: 8px;
  background-color: rgb(17, 17, 192);
  color: white;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
footer{
  text-align: center;
  color: white;
  background-color: black;
  padding:12px;
  margin-bottom: 2px;
}
ol{
  font-size: smaller;
}
ul{
  font-size: smaller;
}
p{
  font-size: smaller;
  padding: 12px;
  padding-top: 20px;
}
.even{
 border: 1px black solid;
 border-radius: 8px;
 padding: 25px;
 background-color: rgb(245, 245, 245);
 margin-top: 2px;
 margin-bottom: 2px;  
 padding-right: 50px;
 margin-right: 50px;
}
#eve{
  list-style-type: none;
}

/*table sort css from https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #898989 transparent;
	visibility: visible;
	opacity: 100;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

#refresh{
margin: 70px;	
}