<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MeetMe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  
    <header>
      <h1>
        <img src="img/Logo.png" height="100px" width="250px">
        Find Friends Online
      </h1>
    </header>
    <br>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href="index.html">About Me</a> |
        <a href="books.html">Books</a> |
        <a href="adventures.html">Adventures</a>

      </div>
    </nav>
    <main>
      <center>
        <h2>Books</h2>
      </center>
      <div id='offerApp'>
      <table id="bookTable" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Publisher</th>
            <th>Page Count</th>
            <th>MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books">
            <td>{{ book.BookTitle }}</td>
            <td>{{ book.Author }}</td>
            <td>{{ book.PublicationYear }}</td>
            <td>{{ book.Publisher }}</td>
            <td>{{ book.PageCount }}</td>
            <td>$ {{ book.MSRP }}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary btn-sm"
                            v-on:click="selectOfferToEdit(book)">Edit</button>
              <button type="button" class="btn btn-outline-secondary btn-sm"
                            v-on:click="postDeleteOffer(book)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <br><br>

      <!-- <h3>Add a new book</h3> -->
      <h3 class="text-center">{{ selectedOffer === null ? "Add a new" : "Edit " }} Book</h3>
      <form v-on:submit.prevent="postOffer">
        <div class="form-group">

          <label for="t" class="form-label">Book Title</label>
          <input type="text" v-model="offerForm.BookTitle" class="form-control" id="t" name="Book Title"><br>
        </div>
        <div class="form-group">
          <label for="A" class="form-label">Author</label>
          <input type="text" v-model="offerForm.Author" class="form-control" id="A" name="A">
        </div>
        <div class="form-group">
          <label for="P" class="form-label">Publication Year</label>
          <input type="text" v-model="offerForm.PublicationYear" class="form-control" id="P" name="A"><br>
        </div>
        <div class="form-group">
          <label for="S" class="form-label">Publisher</label>
          <input type="text" v-model="offerForm.Publisher" class="form-control" id="S" name="S"><br>
        </div>
        <div class="form-group">
          <label for="C" class="form-label">Page Count</label>
          <input type="number" v-model="offerForm.PageCount" class="form-control" id="C" name="C"><br>
        </div>
        <div class="form-group">
          <label for="M" class="form-label">MSRP</label>
          <input type="float" v-model="offerForm.MSRP" class="form-control" id="M" name="M"><br>
        </div>
        <!-- <input class="btn btn-dark" type="submit" value="Add"> -->
        <button type="submit" class="btn btn-primary">{{ selectedOffer === null ? "Add " : "Edit " }} Book </button>
        <button type="button" class="btn btn-dark" v-if="selectedOffer" v-on:click="resetOfferForm">Cancel</button>
      </form>
    </main>
    <hr>
    <footer> Gordon Peck | 7340 Wycliff Ave | 7340 Wycliff Ave</footer>
    <script src='js/tablesort.min.js'></script>
    <script>
      new Tablesort(document.getElementById('bookTable'));
    </script>
    <script src="js/index.js"></script>
  
</body>

</html>